<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card__image" [ngStyle]="{'background-image': 'url(' + cardImage + ')'}"></div>
    <mat-card-title class="card__tittle">
      <h1>{{cardName}}</h1>
    </mat-card-title>
    <mat-card-subtitle class="card__subtitle">
      <h2>{{cardModel}}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card__content">
    <p>
      {{cardText}}
    </p>
  </mat-card-content>
  <div class="card__stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>
</mat-card>