@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.card {
  display: grid;
  gap: $gap;
  margin: 0 calc($gap * 0.75);
  width: 320px;
  height: 300px;
  @include sm  {
    width: 200px;
    margin: 0 calc($gap * 0.5);
  }
  h1 {
    font-family: $font-main;
    font-weight: 500;
    @include sm {
      font-size: 0.675em;
      line-height: 1em;
    }
  }
  h2 {
    font-family: $font-main;
    font-weight: 300;
    @include sm {
      font-size: 0.675em;
      line-height: 1em;
    }
  }
  &__image {
    background-size: cover;
  }
  &__content {
    font-family: $font-main;
    z-index: 1;
    p {
      @include sm {
        font-size: 0.785em;
      }
    }
  }
  &__stars {
    justify-self: center;
    color: $color-accent;
    @include sm {
      font-size: 0.85em;
    }
  }
}
