<div class="signForm">
  <h3 class="signForm__header">Maintenance record</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="signForm__generalForm">
      <app-general-form [header]="formSign" [generalGroup]="formSign"></app-general-form>
    </div>
    <div [formGroup]="formSign">
      <div class="signForm__row">
          <div class="signForm__row-item">
            <mat-form-field appearance="outline">
              <mat-label>Car</mat-label>
              <input matInput placeholder="Model" formControlName="model">
            </mat-form-field>
          </div>
            <div class="signForm__row-item">
              <mat-form-field appearance="outline">
                <mat-label>Year</mat-label>
                <input matInput placeholder="Year" formControlName="year">
              </mat-form-field>
            </div>
        </div>
      <div class="signForm__row">
        <mat-form-field appearance="outline">
          <mat-label>Cause</mat-label>
          <input matInput placeholder="Cause" formControlName="cause">
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="signForm__buttons">
    <button mat-raised-button color="accent" type="submit">Send</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
</div>




<!-- <div class="signForm">
  <h3 class="signForm__header">Maintenance record</h3>
  <form (ngSubmit)="onSubmit()">
    <app-general-form [header]="formSign" [generalGroup]="formSign"></app-general-form>
    <div [formGroup]="formSign">
      <div class="signForm__row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Car</mat-label>
            <input matInput placeholder="Model" formControlName="model">
          </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Year</mat-label>
              <input matInput placeholder="Year" formControlName="year">
            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Cause</mat-label>
          <input matInput placeholder="Cause" formControlName="cause">
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="signForm__buttons">
    <button mat-raised-button color="accent" type="submit">Send</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
</div> -->
