@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.signForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "header" "generalForm" "row" "row" "buttons";
  padding: $gap;
  @include sm {
    height: 350px;
  }
  &__header {
    grid-area: header;
    justify-self: center;
    font-family: $font-header;
    font-weight: 500;
    height: max-content;
  }
  &__generalForm {
    grid-area: generalForm;
  }
  &__row {
    @extend %row;
  }
  &__buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    gap: $gap;
  }
}

mat-form-field {
  width: 100%;
}