@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.generalForm {
  display: flex;
  gap: $gap;
  @include sm {
    flex-direction: column;
    gap: 0;
  }
  .row {
    @extend %row;
  }
}

mat-form-field {
  width: 100%;
}