@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.form {
  display: flex;
  flex-direction: column;
  &__row {
    grid-area: row;
    display: flex;
    gap: calc($gap / 2);
    @include md {
      flex-direction: column;
      gap: 0;
    }
  }
}

mat-form-field {
  max-width: 100%;
}