<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="card__title">{{cardTitle}}</mat-card-title>
    <mat-card-subtitle class="card__subtitle">{{cardSubtitle}}</mat-card-subtitle>
  </mat-card-header>
  <div class="card__image">
    <img mat-card-image src="{{cardImage}}" alt="Photo of a Shiba Inu">
  </div>
  <mat-card-content>
    <div class="card__text">
      <p>
        {{displayText}}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions class="card__actions">
    <span class="card__actions-date">{{cardDate}}</span>
    <button mat-button (click)="openModal()">Read more</button>
  </mat-card-actions>
</mat-card>
