@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.logo {
  font-family: $font-header;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  @include sm {
    font-size: 1.125em;
  }
}