@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.home {
  &__title {
    display: flex;
    @include lg {
      text-align: center;
    }
    h1 {
      font-family: $font-header;
      font-weight: 300;
      font-size: 3rem;
      line-height: 4rem;
      position: relative;
      width: max-content;
      white-space: pre-line;
      width: 100%;
      &::after {
        content: '';
        border-right: 3px solid $color-accent;
        animation: blink 800ms steps(75) infinite;
      }
      @keyframes blink {
        50%{
          opacity: 0;
        } 80% {
          opacity: .5;
        }
      }
      @include xl-lg {
        font-size: 2.25rem;
      }
      @include lg-md {
        font-size: 1.875rem;
      }
      @include md-sm {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      @include sm {
        font-size: 0.7rem;
        line-height: 1.35rem;
      }
    }  
  }
}