<div class="contacts">
  <div #window>
    <mat-card>
      <div class="contacts__window">
        <div class="contacts__window-form">
          <app-contacts-form></app-contacts-form>
        </div>
        <div class="contacts__window-socials">
          <i class="fa-brands fa-telegram"></i>
          <i class="fa-brands fa-viber"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="contacts__window-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87073.79905460027!2d28.85817655!3d46.99986905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c3628b769a1%3A0x37d1d6305749dd3c!2z0JrQuNGI0LjQvdGR0LI!5e0!3m2!1sru!2s!4v1676648829231!5m2!1sru!2s"
            width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </mat-card>
  </div>
</div>