@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.contacts {
  height: calc(100vh - 148px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include md {
    height: calc(100vh - 98px);
  }
  &__window {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: "form map" "socials map";
    @include md {
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr 40px;
      grid-template-areas: "map" "form" "socials";
    }
    &-form {
      grid-area: form;
      @include md {
        overflow-y: scroll;
        height: 300px;
      }
    }
    &-socials {
      grid-area: socials;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc($gap / 2);
      i {
        font-size: $gap;
      }
    }
    &-map {
      grid-area: map;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}