@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.container {
  @extend %container;
  display: grid;
  grid-template-areas: "header" "navbar";
  &__header {
    grid-area: header;
  }
  &__navbar {
    grid-area: navbar;
  }
}