<div class="blog">
  <div class="blog__controls">
    <div class="blog__controls-item" #sliderControlPrev>
      <app-slider-control [buttonText]="'<'" (click)="prev()"></app-slider-control>
    </div>
    <div class="blog__controls-item" #sliderControlNext>
      <app-slider-control [buttonText]="'>'" (click)="next()"></app-slider-control>
    </div>
  </div>
  <div class="blog__slider">
    <app-card-slider [template]="blogTemplate" [data]="cardData"></app-card-slider>
  </div>
</div>

<ng-template #blogTemplate>
  <div class="slider__cards-item" *ngFor="let data of cardData">
    <app-card-blog [cardTitle]="data.title" [cardSubtitle]="data.subtitle" 
    [cardImage]="data.mainImage" [cardText]="data.text" [cardDate]="data.date"
    [firstImage]="data.firstImage" [secondImage]="data.secondImage"
    [thirdImage]="data.thirdImage" [fourthImage]="data.fourthImage" 
    [fifthImage]="data.fifthImage"></app-card-blog>
  </div>
</ng-template>