@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 148px);
  position: relative;
  @include sm {
    height: calc(100vh - 98px);
  }
  &__controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
}
