@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image content";
  gap: $gap;
  overflow: hidden;
  height: 500px;
  @include xl {
    height: 400px;
  }
  @include md {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image" "content";
    height: 600px;
  }
  @include sm {
    height: 500px;
  }

  &__image {
    grid-area: image;
    position: relative;
    height: 500px;
    @include xl {
      height: 400px;
    }
    @include md {
      height: 300px;
    }
    @include sm {
      height: 200px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: opacity 1s;
    }
  }

  &__indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: $gap;

    &-item {
      border-radius: 50%;
      width: 3px;
      height: 3px;
      padding: 4px;
      position: relative;
      background-color: transparent;
      transition: 0.5s;
      cursor: pointer;
      &::after {
        border-radius: 50%;
        padding: 3px;
        border: 2px solid #fff;
        position: absolute;
        content: "";
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
      }
      &.active {
        background-color: $color-accent
      }
    }
  }

  &__content {
    grid-area: content;
    text-align: center;
    padding: $gap;
    @include xl {
      padding: calc($gap / 2);
    }
    &-title {
      h1 {
        font-family: $font-header;
        font-weight: 500;
        @include xl {
          font-size: 0.95em;
        }
      }
    }
    &-subtitle {
      h2 {
        font-family: $font-header;
        font-weight: 300;
        @include xl {
          font-size: 0.95em;
        }
      }
    }
    &-text {
      @include xl {
        height: 220px;
        overflow-y: scroll;
        margin-bottom: 10px;
      }
      @include md {
        height: 120px;
      }
      p {
        font-family: $font-main;
        @include xl {
          font-size: 0.95em;
        }
      }
    }
  }
}