@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.loginForm {
  display: flex;
  flex-direction: column;
  margin: $gap;
  &__header {
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding-bottom: $gap;
    &-buttons {
      display: flex;
      justify-content: center;
      gap: $gap;
    }
  }
}