<div class="loginForm">
  <h3 class="loginForm__header">Login</h3>
  <form class="loginForm__form" [formGroup]="formLogin" (ngSubmit)="submitForm()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" formControlName="login">
          <mat-error *ngIf="this.formLogin.get('login')?.invalid">Login is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="this.formLogin.get('password')?.invalid">Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="loginForm__form-buttons">
        <button mat-raised-button color="accent" type="submit" [disabled]="formLogin.invalid">Login</button>
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
      </div>
  </form>
</div>