@use "palette";
@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(palette.$my-palette);
$my-app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);