@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

%container {
  max-width: $fh;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%row {
  grid-area: row;
    display: flex;
    @include sm {
      flex-direction: column;
      width: 220px;
      gap: 0;
    }
}

%col {
  flex: 1 0 0%;
    gap: $gap;
}