$color-primary: #16161A;
$color-accent: #FF4500;
$color-light: #ffffff;
$color-border: #EAEAEA;
$color-form: #9b9b9b;
$color-social-fb: #1877f2;
$color-social-inst: #c32aa3;
$color-social-yt: #ff0000;
