@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.login {
  display: flex;
  align-items: center;
  font-family: $font-header;
  color: $color-light;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}